/* General Section */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: ‘Whitney’, sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.w-80 {
    width: 80%;
    margin: 0 auto;
}

.w-70 {
    width: 70%;
    margin: 0 auto;
}


/* header */
header {
    background-image: url(../img/jumbo.png);
    width: 100%;
    /* height: 500px; */
    background-size: cover;
}

/* nav */
nav {
    text-align: center;
    height: 60px;
    line-height: 60px;
}

.float {
    float: left;
    height: 100%;
}

nav .float:first-child,
nav .float:last-child {
    width: 25%;
}

nav .float:nth-child(2) {
    width: 50%;
}

.logo {
    max-width: 100%;
    vertical-align: middle;
}

.nav-menu {
    list-style-type: none;
}

.nav-menu li {
    display: inline-block;
    margin-right: 1em;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.navbar a:hover,
.navbar a:active,
.navbar a:focus {
    text-decoration: underline;
}

.nav-menu li:last-child {
    margin-right: 0;
}

a.btn {
    display: inline-block;
    background-color: white;
    border-radius: 2em;
    padding: 1px 14px;
    line-height: 2em;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a.btn:hover {
    color: #265ee8;
}

/* jumbo */
.jumbo-text {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 10em 0;
    color: white;
}

.jumbo-title {
    font-size: 2.5em;
    margin-bottom: 1em;
}

.jumbo-desc {
    line-height: 1.7em;
    margin-bottom: 1.1em;
}

a.btn.big{
    padding: 7px 23px;
    margin: 0 1em;
}

a.btn.dark{
    background-color: #23272a;
    color: white;
}

a.btn.dark:hover,
a.btn.dark:active,
a.btn.dark:focus {
    color: #265ee8;
}


/* main */
.float-left {
    float: left;
}

section.bg-white {
    background-color: white;
}

section.bg-beige {
    background-color: #F6F6F6;
}

.content {
    padding: 6em 1em;
}

.content-img img {
    width: 100%;
}

.content-img {
    width: calc(65% - 2em);
    margin: 0 1em;
}

.content-text {
    width: calc(30% - 2em);
    margin: 2em 1em;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.content h2 {
    font-size: 2.5em;
}

.content p {
    margin-top: 1em;
}


/* bannerone di fine main */
.content.banner {
    padding: 6em 1em;
}

.content-img.banner img {
    width: 100%;
}

.content-img.banner {
    width: 100%;
}

.content-text.banner {
    width: 100%;
    margin: 2em;
}

/* prefooter */
.final {
    padding: 1em;
}

.final h3 {
    display: inline-block;
    font-size: 1.5em;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1.5em 1em 0;

}

.final-btn a.btn.big {
    margin: 2em;
    background-color: #648AE8;
    color: white;
}

/* footer */
footer {
    width: 100%;
    background-color: #0E0E0E;
}



